---
const skills = [
  {
    name: "HTML/CSS",
    short: "HTML",
    icon: "/images/skills/htmlcss.svg",
    color: "bg-orange-500",
    percent: 90,
  },
  {
    name: "TailwindCSS",
    short: "TAILWIND",
    icon: "/images/skills/tailwind-icon.svg",
    color: "bg-cyan-400",
    percent: 75,
  },
  {
    name: "JavaScript",
    short: "JS",
    icon: "/images/skills/JavaScript.png",
    color: "bg-yellow-400",
    percent: 80,
  },
  {
    name: "Java",
    short: "JAVA",
    icon: "/images/skills/java.svg",
    color: "bg-purple-400",
    percent: 85,
  },
  {
    name: "Python",
    short: "PY",
    icon: "/images/skills/python.svg",
    color: "bg-yellow-400",
    percent: 90,
  },
  {
    name: "Jenkins",
    short: "JENKINS",
    icon: "/images/skills/Jenkins.svg",
    color: "bg-green-600",
    percent: 80,
  },
  {
    name: "Astro",
    short: "ASTRO",
    icon: "/images/skills/astro.svg",
    color: "bg-indigo-500",
    percent: 75,
  },
  {
    name: "Git",
    short: "GIT",
    icon: "/images/skills/git-icon.svg",
    color: "bg-orange-400",
    percent: 80,
  },
];
---

<div class="w-full flex flex-col items-center mt-8 dark:bg-gray-800 rounded-lg px-8 py-4 ">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100 mb-6">Skills & Herramientas</h2>
  <div class="w-full max-w-3xl flex flex-col gap-3">
    {skills.map(({ name, icon, color, percent }) => (
      <div class="flex items-center gap-3 w-full">
        <div class="flex-shrink-0 w-10 h-10 flex items-center justify-center rounded-full bg-gray-100 dark:bg-gray-800">
          <img src={icon} alt={name} class="w-7 h-7" />
        </div>
        <div class="flex-grow">
          <div class="flex justify-between items-center">
            <span class="font-semibold text-sm text-gray-900 dark:text-gray-100">{name}</span>
            <span class="font-semibold text-xs text-gray-500 dark:text-gray-300">{percent}%</span>
          </div>
          <div class="w-full h-2.5 bg-gray-200 dark:bg-gray-700 rounded-full mt-1">
            <div class={`h-2.5 rounded-full ${color} transition-all`} style={`width: ${percent}%`}></div>
          </div>
        </div>
      </div>
    ))}
  </div>
</div>
